<template name="addNap">
  <div class="side-nav">
    {{#autoForm collection="Naps" id="napForm" type="insert"}}
    <fieldset>
      <legend>Add a Nap Spot</legend>
      {{> afQuickField name='name'}}
      {{> afQuickField name='lat'}}
      {{> afQuickField name='lng'}}
      <a id="geoLoc" class="btn btn-primary" style="width:100%;">Get Current Location</a>
      {{> afQuickField name="picture" type="cfs-file" collection="napsFS"}}
      {{#if isInRole 'admin'}}
        {{> afQuickField name='designated' type="boolean-checkbox"}}
      {{/if}}
      {{> afQuickField name='building_name' options=buildingList}}
      {{> afQuickField name='floor_number' min=1}}
      {{> afQuickField name='spot_type' options=types}}
      {{> afQuickField name='size' placeholder= '2 Seater'}}
      {{> afQuickField name='qlvl'}}
      {{> afQuickField name='notes' rows=2 placeholder=''}}
      {{> afQuickField name='creatorId' value=currentUser._id type='hidden'}}
    </fieldset>
    <button type="submit" class="btn btn-primary" style="width:100%;">Add</button>
    {{/autoForm}}
  </div>
</template>