<template name="header">
  <nav class="header-background navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{pathFor 'index'}}">
            <img src="/tree.png"/>
        </a>
        <button type="button"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target="#nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="nav-collapse" style="border: 0;">
        <ul class="nav navbar-nav navbar-left">
          <li class="{{ isActiveRoute 'about' }}{{ isActiveRoute 'policies' }}{{ isActiveRoute 'privacy' }}{{ isActiveRoute 'technology' }}">
            <a href="{{pathFor 'about'}}">
              <span class="glyphicon glyphicon-info-sign"></span>
              About
            </a>
          </li>
          {{#if currentUser }}
          <li class="hidden-xs">
            <a id="addNap" href="">
              <span class="glyphicon glyphicon-plus"></span>
              Add an Entry
            </a>
          </li>
          <li class="{{ isActiveRoute 'uploadCSV' }}">
            <a id="addNap" href="{{ pathFor 'uploadCSV'}}">
              <span class="glyphicon glyphicon-upload"></span>
              Upload CSV
            </a>
          </li>
          <li class="{{ isActiveRoute 'addNap' }} visible-xs">
            <a id="addNap" href="{{ pathFor 'addNap'}}">
              <span class="glyphicon glyphicon-plus"></span>
              Add an Entry
            </a>
          </li>
          {{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            {{ #each privilegedRoles }}
            <li class="hidden-xs hidden-sm">
              <p class="navbar-btn">
                <span class="label label-primary" style="vertical-align: bottom;">{{ this }}</span>
              </p>
            </li>
            {{ /each }}
            <li class="dropdown">
              <a href="#"
                 class="dropdown-toggle"
                 data-toggle="dropdown">
                 <span class="glyphicon glyphicon-user"></span>
                 {{or currentUser.identity.firstName.prettyPrintName currentUser.username}}
                 <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                {{#if isInRole 'admin'}}
                  <li>
                    <a href="{{pathFor 'admin'}}">
                       <span class="glyphicon glyphicon-wrench"></span>
                       Admin
                    </a>
                  </li>
                {{/if}}
                <li>
                  <a id="logout-button"
                     href="#">
                     <span class="glyphicon glyphicon-log-out"></span>
                     Logout
                  </a>
                </li>
              </ul>
            </li>
          {{else}}
            <li>
              <a href="#loginModal"
                 class="dropdown-toggle"
                 data-toggle="modal">
                 <span class="glyphicon glyphicon-user"></span>
                 Login
              </a>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</template>
