<template name="addNap">
  <div class="side-nav">
    {{#autoForm collection="Naps" id="napForm" type="insert"}}
    <fieldset>
      <legend>Add a Nap Spot</legend>
      {{> afQuickField name='lat'}}
      {{> afQuickField name='lng'}}
      <div class="hidden-xs">
      <a id="geoLoc" class="btn btn-primary" style="width:100%;">Get Current Location</a>
      </div>
      <div class="visible-xs">
      <a id="loadModal" class="btn btn-primary" data-toggle="modal" data-target="#mapModal" style="width:100%;">Set Location</a>
      </div> 
      {{> afQuickField name="picture" type="cfs-file" collection="napsFS"}}
      {{> afQuickField name='spot_type' placeholder='Sofa'}}
      {{> afQuickField name='size' placeholder= '2 Seater'}}
      {{> afQuickField name='qlvl' placeholder='0-10' min=0 max=10}}
      {{> afQuickField name='notes' rows=2 placeholder=''}}
      {{> afQuickField name='creatorId' value=currentUser._id type='hidden'}}
    </fieldset>
    <button type="submit" class="btn btn-primary" style="width:100%;">Add</button>
    {{/autoForm}}
  </div>

  <!-- Modal location picker for Naps Mobile -->
  <div class="modal fade" id="mapModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button id="cancel" type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Select Location</h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="map-canvas" style="width: 100%; height: 300px">
              {{> googleMap name="napMap" options=exampleMapOptions}}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="geoLoc" type="button" class="btn btn-default" style="float: left;">
          <span class="glyphicon glyphicon-screenshot"></span>
          Get Location
          </button>
          <button id="cancel" type="button" class="btn btn-default">Cancel</button>
          <button id="setLoc" type="button" class="btn btn-primary">Set</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Adjust map to the size of modal -->
  <script>
    $(document).ready(function(){
        $("#mapModal").on('shown.bs.modal', function () {
          google.maps.event.trigger(GoogleMaps.maps.napMap.instance, "resize");
        });
    });
  </script>
  
</template>