<template name="addTree">
  <div class="side-nav">
    {{#autoForm collection="Trees" id="treeForm" type="insert"}}
    <fieldset>
      <legend>Add a Tree</legend>
      {{> afQuickField name='lat'}}
      {{> afQuickField name='lng'}}
      <a id="geoLoc" class="btn btn-primary" style="width:100%;">Get Current Location</a>
      {{> afQuickField name="picture" type="cfs-file" collection="treesFS"}}
      {{> afQuickField name='species' placeholder='Pine'}}
      {{> afQuickField name='diameter' placeholder= '0.5m'}}
      {{> afQuickField name='height' placeholder='15m'}}
      {{> afQuickField name='notes' rows=2 placeholder=''}}
    </fieldset>
    <button type="submit" class="btn btn-primary" style="width:100%;">Add</button>
    {{/autoForm}}
  </div>
</template>
