<template name="mapMain">

  <!-- Sidebar -->
  <div id="sidebar-wrapper" class="shadow hidden-xs">
    <div class="side-nav">
      <a id="closeSide" href="" class="pull-right"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
      {{#if addingTree}}
        {{> addTree}}
      {{else}}
        {{#if selectedTree}}
          {{#with selectedTree}}
            {{> sidenav}}
          {{/with}}
        {{/if}}
      {{/if}}
    </div>
  </div>
  <div id="map" class="map-container">
      {{> googleMap name="treeMap" options=exampleMapOptions}}
  </div>
  <div id="bottombar-wrapper" class="visible-xs">
      {{#if selectedTree}}
      <div class="container">
          <a id="closeSide" href="" class="pull-right"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
            {{#with selectedTree}}
              {{> mobileTree}}
            {{/with}}
      </div>
      {{/if}}
  </div>
</template>

<template name="replace">

</template>
