<template name="mapMain">

  <!-- Sidebar -->
  <div id="closePanel" class="close-button shadow hidden-xs">
    <a id="closeSide" href=""><span class="glyphicon glyphicon-chevron-left slide" ></span></a>
  </div>
  <div id="sidebar-wrapper" class="hidden-xs shadow">
      {{#if addingTree}}
        {{> addTree}}
      {{else}}
        {{#if selectedTree}}
          {{#with selectedTree}}
            {{> sidenav}}
          {{/with}}
        {{/if}}
      {{/if}}
  </div>
  <div id="map" class="map-container">
      {{> googleMap name="treeMap" options=exampleMapOptions}}
  </div>
  <div id="bottombar-wrapper" class="visible-xs">
      {{#if selectedTree}}
        <a id="closeSide" href="" class="pull-right"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
          {{#with selectedTree}}
            {{> mobileTree}}
          {{/with}}
      {{/if}}
  </div>
</template>

<template name="replace">

</template>
