<template name="mobileNap">
    <div class="side-header">
      <h3 class="no-margin">{{spot_type}} <button napId="{{_id}}" id="previewImg">previewimg</button></h3>
      <p class="no-margin">{{napCount spot_type}} nap spot(s) of this type</p>
      <p class="no-margin">Size: {{size}}</p>
      <p class="no-margin">Quiet Level: {{qlvl}}</p>
      <p class="no-margin">Notes:</p>
      <p class="no-margin" style="font-size: 13px;">{{notes}}</p>

      {{#if canReview}}
        <button type="button" class="btn btn-info" data-toggle="modal" style="width:100%;margin-top:15px;" data-target="#modModal">
          Moderate
        </button>
      {{else}}
        {{#if ownPending approved}}
          <br><p style="font-weight: bold;">Your Nap Spot is currently under review, please check back later!</p><br>
        {{/if}}
      {{/if}}

      <!-- Modal -->
      <div class="modal fade" id="modModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel" style="color: #000;">Moderate Nap Spot</h4>
            </div>
            <div class="modal-body">
              <a href="editNap/{{_id}}"><button napId="{{_id}}" class="btn btn-primary" style="width:100%;margin-top:15px;">Edit Nap Spot</button></a>
              {{#if approved}}
                <button id="remove" napId="{{_id}}" class="btn btn-danger" style="width:100%;margin-top:15px;">Remove Nap Spot</button>
              {{else}}
                <div class="btn-group" style="width: 100%; padding:0px;">
                  <button id="approve" napId="{{_id}}" class="btn btn-success" style="margin-top:15px;width:50%;">Approve</button>
                  <button id="deny" napId="{{_id}}" class="btn btn-danger" style="margin-top:15px;width:50%;">Deny</button>
                </div>
              {{/if}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
</template>
