<template name="sidenav">

    {{#if picture}}
    <div style="text-align:center;">
      <img src="{{treeURL picture}}" style="width:100%; max-height:400px; margin-top:-22px;">
    </div>
    {{/if}}
    <div class="side-header">
      <h3 class="no-margin">{{species}}</h3>
      <p class="no-margin">{{treeCount species}} tree(s) of this type</p>
    </div>
    <div class="side-nav">
        <b>Latitude: </b>{{lat}}<br>
        <b>Longitude: </b> {{lng}}<br>
        <b>Diameter: </b> {{diameter}}<br>
        <b>Est. Height: </b> {{height}}<br>
        <br><b>Notes</b><br>
        {{notes}}
        {{#if isInRole 'admin'}}
        <button id="remove" treeId="{{_id}}" class="btn btn-primary" style="width:100%;margin-top:15px;">Remove Tree</button>
        {{/if}}
    </div>

</template>
