<template name="sidenav">

    {{#if picture}}
    <div style="text-align:center;">
      <img src="{{napURL picture}}" style="width:100%; max-height:400px; margin-top:-22px;">
    </div>
    {{/if}}
    <div class="side-header">
      <h3 class="no-margin">{{spot_type}}</h3>
      <p class="no-margin">{{napCount spot_type}} nap spot(s) of this type</p>
    </div>
    <div class="side-nav">
        <b>Latitude: </b>{{lat}}<br>
        <b>Longitude: </b> {{lng}}<br>
        <b>Size: </b> {{size}}<br>
        <b>Quiet Level: </b> {{qlvl}}<br>
        <br><b>Notes</b><br>
        {{notes}}
        {{#if isInRole 'admin'}}
        <button id="remove" treeId="{{_id}}" class="btn btn-primary" style="width:100%;margin-top:15px;">Remove Nap Spot</button>
        {{/if}}
    </div>

</template>
