<template name="uploadCSV">
  <div class="container">
    <div class="upload-container shadow">
      <div class="side-header" style="text-align:center;">
        <h1 class="no-margin">Upload CSV</h1>
        <p>Headers for CSV must be SpotType, Latitude, Longitude, Size, QuietLevel, Notes.</p>
      </div>
      <div class="upload-padding" style="">
          <input id="csvFile" type="file" style="margin:auto;">
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <button id="upload" class="btn btn-primary" style="width:100%; margin-top:10px;">Upload</button>
            </div>
          </div>
        {{#if session 'csvResults'}}
        <hr>
        <h2>Uploaded Data</h2>
        <table class="table table-bordered table-striped">
           <thead>
               <tr>
                   <td>SpotType</td>
                   <td>Latitude</td>
                   <td>Longitude</td>
                   <td>Size</td>
                   <td>QuietLevel</td>
                   <td>Notes</td>
               </tr>
           </thead>
           <tbody>
           {{#each session 'csvResults'}}
               <tr>
                   <td>{{SpotType}}</td>
                   <td>{{Latitude}}</td>
                   <td>{{Longitude}}</td>
                   <td>{{Size}}</td>
                   <td>{{QuietLevel}}</td>
                   <td>{{Notes}}</td>
                   <td style="display: none; ">{{currentUser}}</td>
               </tr>
           {{/each}}
           </tbody>
       </table>
       <button id="submitNaps" class="btn btn-primary">Submit</button>
     {{/if}}
     </div>
   </div>
 </div>
</template>
