<template name="editNap">
	<div class="side-nav">
		{{#autoForm collection="Naps" doc=this id="napForm" type="update"}}
		<fieldset>
			<legend>Edit a Nap Spot</legend>
            {{> afQuickField name='name' value= name}}
			{{> afQuickField name='lat' value= lat }}
			{{> afQuickField name='lng' value= lng }}
			<a id="geoLoc" class="btn btn-primary" style="width:100%;">Get Current Location</a>
      		{{> afQuickField name="picture" type="cfs-file" value= picture collection="napsFS"}}
      		{{#if isInRole 'admin'}}
      			{{> afQuickField name='designated' type="boolean-checkbox"}}
		    {{/if}}
		    {{> afQuickField name='building_name' options=buildingList}}
      		{{> afQuickField name='floor_number' min=1}}
      		{{> afQuickField name='spot_type' options=types}}
      		{{> afQuickField name='size' value= size placeholder= '2 Seater'}}
      		{{> afQuickField name='qlvl'}}
      		{{> afQuickField name='notes' value= notes rows=2 placeholder=''}}
		</fieldset>
		<button type="submit" class="btn btn-primary" style="width:100%;">Edit</button>
		{{/autoForm}}
	</div>
</template>