<template name="about">
  <h2 class="text-center">About Naps</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <b>What is Naps?</b>
      <p>RIT Nap Spot Map is a mapping tool to mark the best places to take naps on campus. The content of this application is provided by RIT students and moderated by the RIT Student Government.</p>
      <b>How can I contribute?</b>
      <p>In RIT Nap Spot Map everyone can be a Naps guru! To contribute, click in Add an Entry, select a place were you regularly Nap on campus, fill in the extra information and add it to the map.</p>
      <p>Once you add a Nap Spot, you will see it represented by a brown marker, this means that your spot is waiting to be reviewed by one of our moderators and will only be visible to you. Once your Nap spot gets reviewed, you will receive an email and your Nap Spot will turn into an orange marker, meaning that its public and visible to the entire Naps community.</p>
    </div>
  </div>
</template>
