<template name="about">
  <h2 class="text-center">About OpenEvals</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <p>RIT Student Government seeks to create a transparent University in which students are offered resources that allow them to voice their opinions on a sound platform. In the year of 2014/2015, under the administration of Ashley Carrington and Tyler Pierce, the open evaluation system was created with the primary purpose of providing students with a reliable resource to rate courses and professors.</p> 
      <p>OpenEvals is a service that will not only increase the collaboration of students across the University through the sharing of ideas but will also serve as a tool that makes student registration for courses simpler. This product does not function on the same platform as the RIT SmartEvals system. Please continue to submit smart evaluations even after using this product.</p>
    </div>
  </div>
</template>
