<template name="privacy">

  <h2 class="text-center">Protecting Your Privacy</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <p>RIT Student Government takes your privacy seriously.</p>
      <h3>Access to Tree Data</h3>
      <p>In order to provide a great tree mapping experience, while respecting the needs of RIT's trees, the following protections are in place for tree data:</p>
      <ul>
        <li>Trees may not access any tree data.</li>
        <li>The names of the tree mappers are kept anonymous.</li>
      </ul>
      <h3>Automated Emails</h3>
      <p>For the purposes of reminding students to map trees, Trees automatically retrieves a list of all University-affiliated trees and their location. Trees does not take advantage of any privileged information sources. All of the information used by Trees is available to any member of the RIT community.  </p>
      <h3>Tree Verification</h3>
      <p>In order to protect the integrity of our data, the status of each tree is automatically verified by the system. Our system is only accessing publicly available tree information. Information automatically collected through this system is only used for the purposes of verifying trees, sending reminders and development of the system.</p>
    </div>
  </div>

</template>
