<template name="privacy">

  <h2 class="text-center">Protecting Your Privacy</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <p>RIT Student Government takes your privacy seriously.</p>
      <h3>Access to Evaluation Data</h3>
      <p>In order to provide a great evaluation experience, while respecting the needs of RIT's faculty, the following protections are in place for review data:</p>
      <ul>
        <li>Faculty & Staff may not access any review data.</li>
        <li>The names of course reviewers are kept anonymous.</li>
      </ul>
      <h3>Automated Emails</h3>
      <p>For the purposes of reminding students to evaluate their courses, OpenEvals automatically retrieves a list of all University-affiliated individuals and their course enrollment. OpenEvals does not take advantage of any privileged information sources. All of the information used by OpenEvals is available to any member of the RIT community.  </p>
      <h3>Enrollment Verification</h3>
      <p>In order to protect the integrity of our data, the enrollment status of each student is automatically verified by the system. Our system is only accessing publicly available enrollment information. Information automatically collected through this system is only used for the purposes of verifying enrollment, sending reminders and development of the system.</p>
    </div>
  </div>

</template>