<template name="privacy">

  <h2 class="text-center">Protecting Your Privacy</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <p>RIT Student Government takes your privacy seriously.</p>
      <h3>Access to Naps Data</h3>
      <p>In order to provide a great nap mapping experience, while respecting the needs of RIT's nap spots, the following protections are in place for nap spot data:</p>
      <ul>
        <li>Nap spots may not access any nap spot data.</li>
        <li>The names of the nap spot mappers are kept anonymous.</li>
      </ul>
      <h3>Automated Emails</h3>
      <p>For the purposes of reminding students to map nap spots, Naps automatically retrieves a list of all University-affiliated nap spots and their location. Naps does not take advantage of any privileged information sources. All of the information used by Naps is available to any member of the RIT community.  </p>
      <h3>Nap Spot Verification</h3>
      <p>In order to protect the integrity of our data, the status of each nap spot is automatically verified by the system. Our system is only accessing publicly available nap spot information. Information automatically collected through this system is only used for the purposes of verifying nap spots, sending reminders and development of the system.</p>
    </div>
  </div>
</template>
