<template name="technology">

  <h2 class="text-center">Innovative Open Technology</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <p>Innovative technology is at the heart of Student Government's Services offerings. By using the newest and most effective technologies, we save time and money, while delivering world-class software. </p>
      <h3>Commitment to Open Source</h3>
      <p>Like PawPrints, the RIT Bikeshare website, RITPedia and SG Sites, Naps relies on Open Source Software to deliver the high-quality experience Tigers have come to expect. Student Government has made a commitment to give back by contributing all of our software to the FOSS community. Find us on <a href="https://github.com/ritstudentgovernment/Naps">GitHub</a>.</p>
      <h3>Pioneering Advanced Technologies</h3>
      <p>Naps relies on the following advanced technologies to deliver a cutting-edge high performance experience to students. See below for a partial list:</p>
      <ul>
        <li>Google Maps</li>
        <li>Meteor</li>
        <li>Bootstrap</li>
        <li>MongoDB</li>
      </ul>
    </div>
  </div>
</template>
