<template name="technology">

  <h2 class="text-center">Innovative Open Technology</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <p>Innovative technology is at the heart of Student Government's Services offerings. By using the newest and most effective technologies, we save time and money, while delivering world-class software. </p>
      <h3>Commitment to Open Source</h3>
      <p>Like PawPrints, the RIT Bikeshare website, RITPedia and SG Sites, OpenEvals relies on Open Source Software to deliver the high-quality experience Tigers have come to expect. Student Government has made a commitment to give back by contributing all of our software to the FOSS community. Note: In order to protect student privacy, OpenEvals relies on closed-source software to interact with University systems. The contracts for interacting with those systems are well documented in the OpenEvals source code. Find us on <a href="https://github.com/ritstudentgovernment/evals">GitHub</a>.</p>
      <h3>Pioneering Advanced Technologies</h3>
      <p>OpenEvals relies on the following advanced technologies to deliver a cutting-edge high performance experience to students. See below for a partial list:</p>
      <ul>
        <li>ElasticSearch</li>
        <li>Meteor</li>
        <li>Bootstrap</li>
        <li>MongoDB</li>
      </ul>
      <h3>Why no API?</h3>
      <p>Although Student Government loves sharing our data and supporting app developers, the sensitive nature of evaluation data requires special precautions. In order to ensure that our privacy controls are enforced, we can't support API access at this time.</p>
    </div>
  </div>

</template>