@import "variables.import.less";

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}

.evaluation-complete:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 50px solid #f36e21;
  border-left: 50px solid transparent;
  right: 15px;
  top: 15px;
}

.evaluation-complete > .square-content:after {
  content: 'Reviewed';
  font-style: italic;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.progress-bar-danger {
  min-width: 4em;
}

.progress-bar-warning {
  width: 50%;
}

.progress-bar-success {
  width: 100%;
}

.square {
  padding-bottom: 15px;
  padding-top: 15px;
  animation: popin 0.5s; 
  -webkit-animation: popin 0.5s; 
  -moz-animation: popin 0.5s; 
}

.square-content {
  background: #fff;
  padding: 15px;
  @media (max-width: @screen-sm-min) { min-height: 150px; }
  @media (min-width: @screen-sm-min) { height: 275px; }
  @media (min-width: @screen-md-min) { height: 275px; }
  @media (min-width: @screen-lg-min) { height: 250px; }
}

.square-padding {
  padding: 15px inherit;
}

.tooltip {
  top: -3px;
}
