@import "variables.import.less";

.summary-banner-score-box {
  height: 175px;
  width: 175px;
  background-color:@brand-primary;
  margin:25px;
}

.summary-banner-score {
  font-size: 56pt;
  color: #fff;
}

.summary-category {
  font-weight: bold;
  font-size: x-large;
}

.review-category {
  font-weight: bold;
}

.review-columns {
  column-count: 2;
  -moz-column-count: 2;
  -webkit-column-count: 2;
}
