<template name="admin">

  <div class="application-content container-fluid">
    <div class="row-fluid">
      <div class="col-sm-12 col-md-10 col-md-offset-1">

       <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a data-toggle="tab" role="tab" href="#users">Users</a></li>
          <li><a data-toggle="tab" href="#types">Spot Types</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div id="users" class="tab-pane fade in active">
            {{> users}}
          </div>
          <div id="types" class="tab-pane fade">
            {{> spot_types}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="users">
  <div class="tab-pane active" id="users">
    <div class="tab-container shadow">
      <div class="col-sm-5">
        <h2>Admins</h2>
        <p>Administrators can manage user roles and nap spots</p>
        {{> userList users= admins role="admin" }}
      </div>
      <div class="col-sm-5">
        <h2>Reviewers</h2>
        <p>Reviewers can manage nap spots</p>
        {{> userList users= revs role="reviewer" }}
      </div>
    </div>
  </div>
</template>

<template name="userList">
  {{#each users}}
    <form id="users">
      <div class="input-group">
        <input name="action" value="remove" type="hidden">
        <input name="role" value="{{../role}}" type="hidden">
        <input name="username"
               value="{{identity.firstName.prettyPrintName}} - {{username}}"
               type="text"
               class="form-control"
               disabled>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">&times;</button>
        </span>
      </div>
    </form>
  {{/each}}

  <form id="users">
    <div class="input-group">
      <input name="action" value="add" type="hidden">
      <input name="role" value="{{role}}" type="hidden">
      <input name="username" value="" type="text" placeholder="abc1234" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">+</button>
      </span>
    </div>
  </form>
</template>


<template name="spot_types">
  <div class="tab-container shadow">
    <div class="col-sm-5">
      <h2>Spot Types</h2>
      <p>Manage the type of Nap Spots that can be created.</p>
      {{> typeList types= types}}
    </div>
  </div>
</template>


<template name="typeList">
  {{#each types}}
    <form id="types">
      <div class="input-group">
        <input name="action" value="remove" type="hidden">
        <input name="type" value="{{name}}" type="text" class="form-control" disabled>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">&times;</button>
        </span>
      </div>
    </form>
  {{/each}}

  <form id="types">
    <div class="input-group">
      <input name="action" value="add" type="hidden">
      <input name="type" value="" type="text" placeholder="Add type" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">+</button>
      </span>
    </div>
  </form>
</template>
