<template name="welcomeView">
	<div class="welcomeView">
	    <div>
	      <h1>Welcome to Naps!</h1>
	      <p style="padding-bottom: 10px;">Before you start napping, lets go through the basics:</p>
	      <div>
	        <img src="/designated_marker.png">
	        <p>Designated areas: Public Safety will be watching these nap spots.</p>
	      </div>
	      <div>
	        <img src="/public_marker.png">
	        <p>Public areas: Nap Spots contributed by other members of the community.</p>
	      </div>
	      <div>
	        <img src="/review_marker.png">
	        <p>Review areas: Areas only visible to you, will become public after reviewed by an admin.</p>
	      </div>
	      <button id="startNap" type="button" class="btn btn-primary">Start Napping</button>
	    </div>
	</div>
</template>