<template name="mapMain">
  <!-- Sidebar -->
  <div id="closePanel" class="close-button shadow hidden-xs">
    <a id="closeSide"><span class="glyphicon glyphicon-chevron-left slide" ></span></a>
  </div>
  <div id="sidebar-wrapper" class="hidden-xs shadow">
      {{#if addingNap}}
        {{> addNap}}
      {{else}}
        {{#if selectedNap}}
          {{#with selectedNap}}
            {{> sidenav}}
          {{/with}}
        {{/if}}
        {{#if editingNap}}
          {{#with editingNap}}
            {{> editNap}}
          {{/with}}
        {{/if}}
      {{/if}}
  </div>
  
  {{#if previewImg}}
    <div id="closeImg" style="position: relative; height: 50%;">
    <button class="btn-min" style="right: 0; position: absolute;"><span class="glyphicon glyphicon-remove"></span>&nbsp;</button>
    <img style="width: 100%; height:100%; position: relative;" src="{{previewImg}}">
    </div>
  {{/if}}

  
  <div id="map" class="map-container">
    {{#if currentUser.firstLogin}}
      {{> welcomeView}}
    {{/if}}
    <div class="map-key">
      <div>
        <img src="/designated_marker.png">
        Designated
      </div>
      <div>
        <img src="/public_marker.png">
        Public
      </div>
      <div>
        <img src="/review_marker.png">
        Under Review
      </div>
    </div>
    {{> googleMap name="napMap" options=exampleMapOptions}}
  </div>

  <div id="bottombar-wrapper" class="visible-xs">
      {{#if selectedNap}}
          <a id="closeSide" href="" class="pull-right"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
          {{#with selectedNap}}
            {{> mobileNap}}
          {{/with}}
      {{/if}}
      {{#if editingNap}}
        {{#with editingNap}}
          {{> editNap}}
        {{/with}}
      {{/if}}
  </div>
</template>

<template name="replace">

</template>
